@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-image: url("./assets/snowfall.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    color: white;
    font-size: 4rem;
    backdrop-filter: blur(0.4rem);
    width: 100%;
    text-align: center;
    font-family: "Poppins", cursive;
}

@media (max-width: 520px) {
    .container p{
        font-size: 2rem;
    }
}